
.frame {
    border: 3px solid black;
    border-radius: 4px;
    height: 316px;
    width: 310px;
    margin: 50px auto;
}

.display{
    height: 20px;
}

.nums {
    font-size: 8px;
    float: right;
    padding: 15px 10px 0 0;
}

.h3 {
    text-align: center;
}

.title {
    margin: 0 auto;
}